<!-- Navbar -->
<div class="zoom acro-top" id="navbar">
  <div class="acro-bar acro-blue acro-card">
    <a class="acro-bar-item acro-button acro-padding-large acro-hide-medium acro-hide-large acro-right"></a>
    <a routerLink="/home" class="acro-bar-item acro-button acro-padding-large">HOME</a>
    <a href="https://etk.bestbuy.com" class="acro-bar-item acro-button acro-padding-large acro-hide-small">ETK</a>
    <a href="https://hub.bestbuy.com/" class="acro-bar-item acro-button acro-padding-large acro-hide-small">Employee HUB</a>
    <a href="https://selfservice/ESD/Loader.aspx?q=webext&f=dns" class="acro-bar-item acro-button acro-padding-large acro-hide-small">SelfService</a>
    <a class="acro-bar-item acro-button acro-padding-large acro-hide-small" (click)="toggle()" id="bt">About</a>
  </div>
</div>


<!-- Acronym Search Engine Section -->
<div class="acro-light-grey acro-padding-84 acro-display-topleft  ">

  <div class="acro-flex1 acro-fromleft ">
    <form class="acro-flex-item1 ">
      <img src="/bby.png" height="50" width="80" routerLink="/home" >
    </form>

    <form class="acro-flex-item1 searchContainer acro-half ">
      <input #input id="searchbar" (keyup.enter)="searchAcronyms()"class="searchBox acro-card-4" type="text" required [(ngModel)]="acro"
        name="acro" placeholder="Search for Acronyms" style="text-transform:uppercase">
      <button [disabled]="input.value.length < 1" class="searchButton" type="button" routerLink="/resultapp" (click)="searchAcronyms()">
        <i class="fa fa-search searchIcon"></i>
      </button>

    </form>
  </div>

  <!-- Displays Error Messages -->
  <div class="acro-center acro-padding-small" *ngIf="messageService.messages.length">
    <br>
    <ol>
      <div *ngFor='let message of messageService.messages' [innerHTML]="message"></div>
      <!-- <h4 *ngFor='let message of messageService.messages'> {{message}} </h4> -->
    </ol>
  </div>
  <!--Displays the Acronym Information-->
  <div class="acro-padding-16"  *ngIf="hide" >
    <h2 class=" acro-center">{{acronym?.name}}</h2>
    <h1 class="acro-wide acro-center">{{acronym?.acronym}}</h1>
    <h5 class="acro-padding-20 acro-center">{{acronym?.description}}</h5>

  </div>


  <!-- About Button Toggle -->
    <ng-container class="acro-padding-16"  *ngIf="show">
        <h2 class=" acro-center acro-padding-16">Acronym Search Engine</h2>
        <h1 class=" acro-center">AcroCloud Project</h1>
        <h5 class="acro-padding-20 acro-center">This service (web app) is created by two microservice interns (Nathenael Dereb and Dan Arnold) with the intent to show the skills they've gained while interning at Best Buy and emualte the work of microservice software engineers.
          </h5>
      
      <!-- <img src="/bby.png" height="50" width="80"> -->
    </ng-container>

  
</div>