<html>
  
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/app.comonent.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<style>
body {font-family: "Lato", sans-serif}
</style>
<body>
    
<!-- Navbar -->
<div class="top" id="navbar">
  <div class="bar blue card">
    <a class="bar-item button padding-large hide-medium hide-large right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="#" class="bar-item button padding-large">HOME</a>
    <a href="https://etk.bestbuy.com" class="bar-item button padding-large hide-small">ETK</a>
    <a href="https://hub.bestbuy.com/" class="bar-item button padding-large hide-small">Employee HUB</a>
    <a href="https://selfservice/ESD/Loader.aspx?q=webext&f=dns" class="bar-item button padding-large hide-small">SelfService</a>
     </div>
  </div>  
  <!-- Acronym Search Engine Section -->
  <div class=" light-grey padding-84 display-topleft " id="acronymsearch">
      <div class="content bby padding-250" style="max-width:800px">
           <h2 class="-wide center">Acronym Search</h2>
      <p class="opacity center"><i>All your acronyms in one place!</i></p><br>
   
<div class="full">
   <input class="border input card-4 "type="search" placeholder="Search for acronyms">
   <i id="filtersubmit" class="fa fa-search" type="submit"></i>

  </div>
  <!-- search and random button section -->
  <div class="flex padding-small">
      <form action="search.html" class="flex-item">
        <button class="srbutton card-4">Search</button>
      </form>
    <form action="random.html" class="flex-item">
        <button class="srbutton card-4">Random</button>
      </form>
    </div>
  </div>
</div>
</body>
</html>
