   
<!-- Navbar --> 
<div class="acro-top" id="navbar">
  <div class="acro-bar acro-blue acro-card">
    <a class="acro-bar-item acro-button acro-padding-large acro-hide-medium acro-hide-large acro-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a routerLink="/app" class="acro-bar-item acro-button acro-padding-large">HOME</a>
    <a href="https://etk.bestbuy.com" class="acro-bar-item acro-button acro-padding-large acro-hide-small">ETK</a>
    <a href="https://hub.bestbuy.com/" class="acro-bar-item acro-button acro-padding-large acro-hide-small">Employee HUB</a>
    <a href="https://selfservice/ESD/Loader.aspx?q=webext&f=dns" class="acro-bar-item acro-button acro-padding-large acro-hide-small">SelfService</a> 
      </div>
  </div>  
  <!-- Acronym Search Engine Section -->
  <div class="zoom80 acro-light-grey acro-padding-84 acro-display-topleft " id="acronymsearch">
      <div class="acro-content acro-bby acro-padding-250" style="max-width:800px">
           <h2 class="acro-wide acro-center">Acronym Search</h2>
      <p class="acro-iopacity acro-center"><i>All your acronyms in one place!</i></p><br>   
<div class="zoom80 acro-full">
  <form>
   <input #input (keyup.enter)="searchAcronyms(input.value)" id="searchbar" class="acro-border acro-input acro-card-4"
   (blur)="searchAcronyms(input.value); input.value='' ">
   <button type="button" routerLink="/resultapp" (click)="searchAcronyms(input.value)">search</button>
  </form>
   <p>{{value}}</p>
  </div>
  
  <!-- search and random button section -->
  <div class="zoom80 acro-flex acro-padding-small">
      <form routerLink="/resultapp" class="acro-flex-item">
        <button type="submit" class="acro-srbutton acro-card-4">Search</button>
      </form>
    <form routerLink="/resultapp" class="acro-flex-item">
        <button type="submit" class="acro-srbutton acro-card-4">Random</button>
      </form>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

